<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium_TestNG_Suite">
  <test thread-count="5" name="TtestNG_est">
    <classes>
      <class name="test.selenium_automation.FirstProjectTestNG"/>
      <class name="test.selenium_automation.ohrmlogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
